* {
    margin: 0;
    color: var(--colordarkbrown);
    font-family: Arial, 'Courier New', sans-serif;
}

:root {
    --colorbrown: #896C6C;
    --colordarkbrown: #422722;
    --colorpink: #E5BEB5;
    --colorbeige: #EEE6CA;
    --colordarkbeige: #dfd5b4;
    --colorlight: #f5fae1;
    --colorlightgreen: #5C5948;
    --colordarkgreen: #34362B;
    --colorlighthay: #CB9573;
    --colorhay: #A67F60;
    --colordarkhay: #8d6b47;

}

body {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#header {
    border: var(--colordarkbrown) 3px solid;
    display: flex;
    background-color: var(--colorpink);
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 3px;
}

#navigation {
    background-color: var(--colorpink);
}

.welcome-text {
    padding: 10px;
}

#content-sections {
    padding: 20px;
    flex-grow: 1;
}

#posts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 15px;
}

button.selected {
    background-color: red;
}

#posts-container .post {
    background-color: yellow;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.comments-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}

#posts-container .username {
    cursor: pointer;
    margin-bottom: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

input[type=submit]:disabled {
    background-color: lightgray;
}

input[type=submit]:not(:disabled) {
    cursor: pointer;
}

.hide-section {
    display: none;
}

footer {
    border-top: var(--colordarkbrown) 4px solid;
    background-color: var(--colorpink);
    padding: 10px 6px;
    margin-top: 10px;
    display: flex;
    /*background-image: url(media/pic4.png);*/
    justify-content: center;
    align-items: center;
}
