* {
    margin: 0;
    color: var(--colordarkbrown);
    font-family: Arial, 'Courier New', sans-serif;
}

:root {
    --colorbrown: #896C6C;
    --colordarkbrown: #422722;
    --colorpink: #E5BEB5;
    --colorbeige: #eff1d9;
    --colordarkbeige: #dfd5b4;
    --colorlight: #f5fae1;
    --colorlightgreen: #5C5948;
    --colordarkgreen: #34362B;
    --colorlighthay: #be967d;
    --colorhay: #A67F60;
    --colordarkhay: #8d6b47;

}

body {
    /* Max-width + "margin: auto" ensures that the content of the page takes up the full width of the screen, except if the screen is more than 1200px.
    In that case, the content of the page stops at a width of 1200px, and the remaining part of the screen becomes empty margin that is distributed equally on both sides of the content.
    This causes the content to sit in the middle of the page on wider screens. */
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* This min-height ensures that the page always takes up the entire height of the screen. */
    min-height: 100dvh;
    background-color: var(--colorlight);
}

#header {
    border: var(--colordarkbrown) 3px solid;
    display: flex;
    background-color: var(--colorlighthay);
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 3px;
}

#navigation {
    background-color: var(--colorlighthay);
}

.nav-button {
    background-color: var(--colorlight);
    padding: 3px 7px;
    border-radius: 10%;
    font-weight: bold;
    box-shadow: 1px 1px 2px var(--colordarkbrown);
}

.general-button {
    background-color: #d3bfb2;
    padding: 4px 8px;
    border-radius: 8%;
    font-weight: bold;
    color: var(--colordarkbrown);
    box-shadow: 1px 1px 2px var(--colorbrown);
    margin-top: 5%;
}

.welcome-text {
    padding: 10px;
}

#content-sections {
    padding: 20px;
    /* We set min-height of the body to be 100dvh. This flex-grow: 1 ensures that the section that grows to fill the space is the container between the header and the footer
    This means that the header will always be at the top, and the footer will always be at the bottom. */
    flex-grow: 1;
}

#posts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 15px;
}

/* Sets the color of the selected nav button */
button.selected {
    background-color: var(--colorlightgreen);
    color: var(--colorlight);
    box-shadow: none;
}

#posts-container .post {
    background-color: var(--colordarkbeige);
    padding: 20px;
    border: 1px solid var(--colordarkbrown);
    box-shadow: 3px 3px 5px var(--colorbrown);
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.comments-container {
    background-color: var(--colorbeige);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}

#posts-container .username {
    cursor: pointer;
    margin-bottom: 10px;
}

#load-more-btn {
    display: block;
    margin: 0 auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    min-width: 250px;
}

label {
    padding-top: 20px;
    padding-bottom: 2px;
}

#form-submit {
    border-radius: 10%;
    margin: 10px auto 0px auto;
}

#birds {
    margin: 0 0 0 auto;
    color: var(--colordarkbrown);
}


/* Sets the color of the form submit button when it is disabled */
input[type=submit]:disabled {
    background-color: lightgray;
}

/* Sets the color of the form submit button when it is NOT disabled */
input[type=submit]:not(:disabled) {
    cursor: pointer;
}

section.hide-section {
    display: none;
}

/* Centers the dialog, instead of having it stuck to the top left corner of the screen. */
dialog {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--colorlight);
    border: 3px solid var(--colordarkbrown);
    border-radius: 3%;
}

footer {
    border-top: var(--colordarkbrown) 4px solid;
    border-left: var(--colordarkbrown) 4px solid;
    border-right: var(--colordarkbrown) 4px solid;
    background-color: var(--colorlightgreen);
    padding: 10px 6px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text{
    color: var(--colorlight);
}
